# Python
*.pyc
*.pyo
__pycache__/

# Django
*.db
*.sqlite3
media/

# Static files (usually managed by collectstatic)
staticfiles/

# Virtual environment
.venv/
.env

# IDEs and editors
.vscode/
*.code-workspace
.idea/

# Logs
*.log

# Configuration files
*.config

# Compiled files
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store
